.b-demo{
    background: #2196F3;
    background: linear-gradient(to top left, #1976D2, #2196F3);
    height: 100%;
}
.b-demo .phone{
    color: #fff;
}
.b-demo .phone i{
    position: relative;
    top: 4px;
}
.b-demo .title{
    color: #fff;
    margin-top: 120px;
}
.b-demo .title > h1{
    font-size: 7em;
    font-weight: 100;
}
.b-demo .subtitle{
    color: #fff;
    font-size: 1.2em;
    margin-top: 30px;
}