body{
    padding-top: 80px;
}
.b-sidebar{
    min-height: 100%;
    background: #555555;
}
.b-block .item{
    background: #fff;
    padding: 15px 0;
    border: 1px solid #D6D6D6;
}
.b-block .item .name{
    font-size: 24px;
    margin: 0;
}
.b-block .item .material-icons{
    font-size: 2.2em;
}
.b-block .add-block{
    position: fixed;
    right: 50px;
    bottom: 30px;
}