.b-sidebar{
    min-height: 100%;
    background: #555555;
}
.b-block .item{
    background: #fff;
    padding: 15px 0;
    border: 1px solid #D6D6D6;
    margin-bottom: 10px;
}
.b-block .item .material-icons, .b-block .item .name .material-icons{
    font-size: 2.2em;
    margin: 0 3px;
    color: #888888;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.b-block .item .material-icons:hover{
    color: #555;
}
.b-content .add-block, .b-content .add-attribute{
    position: fixed;
    right: 50px;
    bottom: 30px;
}
.b-content #edit-form{
    background: #fff;
    padding: 0 15px;
    border: 1px solid #ddd;
}
.b-content .page-header{
    margin: 0 0 10px;
}
.b-content .page-header > h1{
    font-size: 4em;
    margin: 0;
}
.b-content .form-error{
    margin-top: 15px;
}
.b-actions h1{
    margin: 10px 0;
}
.panel{
    margin-bottom: 10px;
}
.panel-body{
    padding: 15px 0;
}
.panel-body .col-xs-5, .panel-body .col-xs-9{
    padding-top: 5px;
}